.filterDiv {
	float: left;
	background-color: var(--primary-color);
	color: #ffffff;
	width: 400px;
	line-height: 100px;
	text-align: center;
	margin: var(--spacing-md);
	display: none;
	}

	.show {
	display: block;
	}

	.container {
	margin-top: 20px;
	overflow: hidden;
	}

	/* Style the buttons */
	.btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #f1f1f1;
	cursor: pointer;
	}

	.btn:hover {
	background-color: #ddd;
	}

	.btn.active {
	background-color: #666;
	color: white;
	}