---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "../styles/global.css";
import "../styles/about.css";
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>About</title>

</head>

<body>		
	<Header />
<div class="two-column-layout intro">
	<div class="two-column-layout__content">
		<p>I'm Michael, and I live in Washington, DC. </p>
		<p>I'm fascinated by our social structures and how they shape our relationships to the world and each other.</p>
		<p>I love learning, and I love writing about what I’m learning. I even learned to code this website myself, with the help of Claude.</p>
		<p>I care about rethinking gender roles and defining a positive masculinity, and I am fascinated by intergenerational storytelling.</p>
		<p>I’m passionate about holistic wellness, and that shows up in my hobbies. I love being active, playing basketball and doing yoga, and I love food and cooking.</p>
	</div>
	<div class="two-column-layout__image">
		<img src="../profile-apple.jpeg" width="100%">
	</div>
</div>
<div class="two-column-layout hometown">
	<div class="two-column-layout__image">
		<img src ="../clark-hs.jpg" width = "100%">
	</div>
	<div class="two-column-layout__content">
			<p>I was born and raised in Las Vegas, NV in the Mojave Desert</p>
	</div>
</div>
<div class="two-column-layout featured">
	<div class="two-column-layout__content">
			<p>Here’s a recent story I was featured in: <br><a href="https://www.georgetown.edu/news/graduate-students-design-new-accessible-podium-for-riggs-library/">Graduate students design accessible podium.</a></p>
	</div>
	<div class="two-column-layout__image">
		<img src ="../podium-prototype-small.jpg" width = "100%">
	</div>
</div>

<div class="two-column-layout writing">
<p>Lastly, I write! For my pleasure, sure, but even more so to channel my curiosity and satisfy my creative urges.</p>	
</div>
	
<div class="two-column-layout writing-display">
	<div class="writing-display-card">
		<h4>reflections from France</h4>
		<p>body text</p>
	</div>
	<div class="writing-display-card">
		<h4>reflections on AI</h4>
		<p>body text</p>
	</div>
	<div class="writing-display-card">
		<h4>political action</h4>
		<p>body text</p>
	</div>
</div>
	
    <Footer />

</body>
</html>