---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "../styles/global.css";
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Contact</title>

</head>

<body>		
	<Header />
<p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit itaque fugit deleniti aut consectetur. Inventore deserunt perspiciatis debitis laboriosam! Fugit aspernatur tempora dignissimos exercitationem, et minima perspiciatis expedita ut neque.
	Lorem ipsum dolor sit amet consectetur, adipisicing elit. In necessitatibus obcaecati voluptatibus. Perferendis blanditiis ab accusamus aliquid sit nisi rem, fuga, consequuntur autem inventore eos tempore laboriosam iusto perspiciatis atque.
</p>
    <Footer />

</body>
</html>