---
import Header from "../components/Header.astro"
import Logo from "../components/Logo.astro"
import "../styles/global.css";
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Michael Pasimio Portfolio</title>

</head>

<body>		
	<Logo />
	<Header />
	<div class="two-column">
			<div class="column-home">
				<img src="../profile-no-bg.png" alt="Michael Pasimio"/>
			</div>
			<div class="column-home">
					<h1>Michael Pasimio</h1>
					<p>Learning Designer, Innovator, Educator, Coach</p>
			</div>
		</div>
	
	<section class ="hero">
		<p>Championing mindfulness, liberal arts education, and economic sovereignty for all.</p>
	</section>

	<!--Empty container for spacing 
	and future content, like a graphic 
	-->

	<div class="container">
	</div>
	
	<!--Project Areas Section-->

	<div class="container">
		<section class = "section-title">
			<h2>Project Areas</h2>
		</section>
		<section class="three-column">
			<div class="column-project">
				<h3>Systems & Tech</h3>
				<p>Using systems thinking to break down the technologies reshaping higher education.</p>
			</div>
			<div class="column-project">
				<h3>Social Vision</h3>
				<p>Identifying new strategies for higher education to meet the needs of a diverse population facing complex global issues.</p>
			</div>
			<div class="column-project">
				<h3>Sports & Health</h3>
				<p>Applying learning design to improve sports education and health education for children and adults.</p>
			</div>
	</div>	
</body>
</html>
