---
import Header from "../components/Header.astro"
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Michael Pasimio</title>

<style>
        
        
	</style>

	</head>
	<body>
		<Header />
		<section>
			<h1>Michael Pasimio</h1>
			<p>Alright so this here is my first draft of my portfolio. My goals here are to build out the information infrastructure as best as I can and make sure that the simple layout makes sense on mobile. Then I'll focus on adding more stylistic elements and interactive components that make me and my projects come to life. I'll really just think about this first draft as a digital resume or LER.</p>
		</section>
		<section class ="hero">
			<p>insert mission statement</p>
			</section>
		<p class="section-title">Project Areas</p>
	</body>
</html>
