---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "../styles/global.css";
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Michael Pasimio Portfolio</title>

</head>

<body>		
	<Header />
	<div class = "hero">
		<div class="hero-textbox">
			<h1>Michael Pasimio</h1>
			<p>Learning Designer, Innovator, Educator, Coach</p>
		</div>
	</div>
	
	<!--Hero Section-->
	<!--<div class="two-column">
			<div class="column-img">
				<img src="../assets/bike.png" alt="Michael Pasimio"/>
			</div>
			<div class="column-text">
					<h1>Michael Pasimio</h1>
					<p>Learning Designer, Innovator, Educator, Coach</p>
			</div>
		</div>
	 -->
		
<!--Parallax Section -->
	<div class = "parallax">
		<div class ="sheer-top">
			<p>Championing mindfulness, liberal arts education, and financial sovereignty for all.</p>
		</div>

		<div class ="about">
			<h2>About Me</h2>
			<p>Born and raised in Las Vegas, Nevada, I'm a strong believer in education and public institutions.
			I believe in creating effective, responsive institutions that meet the needs of all. I've worked on 
			various equity projects in higher ed, and I've experience in a wide variety of organizational contexts. 
			I've got skills in technology, teaching, strategic planning, data analysis and more.
			</p>
		</div>

		<div class ="sheer-bottom"></div>
	</div>

	<!--Project Areas Section-->

	<section>
		<div class="section-title"><h2>My Passions</h2></div>
	
	<div class="three-column">
		<div class="column-project">
			<h3>Systems & Technology</h3>
			<p>Using systems thinking and technological analysis to understand the forces reshaping higher education.</p>
		</div>
		<div class="column-project">
			<h3>Social Vision</h3>
			<p>Developing educational strategies to meet the needs of a diverse population and address complex issues.</p>
		</div>
		<div class="column-project">
			<h3>Holistic Health</h3>
			<p>Applying learning design to improve sports education and health education for children and adults.</p>
		</div>
	</div>	
	</section>
	<Footer />
</body>
</html>
