---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "../styles/global.css";
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Michael Pasimio Portfolio</title>

</head>

<body>		
	<Header />

	<div class = "hero">
		<div class="hero-textbox">
			<picture>
				<source srcset="../../profile-curved.png" type="image/webp">
				<img src="../../profile-podium-curved.png" alt="Michael Pasimio" loading="eager"/>
			</picture>
			<h3>Hi, I'm Michael.</h3>
			<p><em>Learning Designer, Educator, and Innovator</em></p>
			<p>I care about building an education system that serves all.</p>
		</div>
	</div>

	
	<!--Hero Section-->
	<!--<div class="two-column">
			<div class="column-img">
				<img src="../assets/bike.png" alt="Michael Pasimio"/>
			</div>
			<div class="column-text">
					<h1>Michael Pasimio</h1>
					<p>Learning Designer, Innovator, Educator, Coach</p>
			</div>
		</div>
	 -->
		
<!--Old Parallax Section 
	<div class = "parallax">
		<div class ="sheer-top">
			<p>Championing mindfulness, liberal arts education, and financial sovereignty for all.</p>
		</div>

		<div class ="about">
			<h2>About Me</h2>
			<p>Born and raised in Las Vegas, Nevada, I'm a strong believer in education and public institutions.
			I believe in creating effective, responsive institutions that meet the needs of all. I've worked on 
			various equity projects in higher ed, and I've experience in a wide variety of organizational contexts. 
			I've got skills in technology, teaching, strategic planning, data analysis and more.
			</p>
		</div>

		<div class ="sheer-bottom"></div>
	</div>
-->

<!-- ABOUT ME SECTION -->
<section>
	<div class = "container-home about-me-container">
		<div class="container-title">
			<h2>About Me</h2>
			<p><em>My Educational Journey</em></p>
		</div>
		<div class="container-text">
			<h3>Born and raised in Las Vegas, Nevada, I grew up in one of the <strong>lowest performing school districts</strong> in the US.</h3>
			<p><em>I saw firsthand how the education system sorts students into separate tracks based on their backgrounds and early achievements.</em></p>
		</div>
		<span class="container-img clark"></span>
		
		<span class="container-img healy"></span>
		<div class="container-text">
			<h3>Like many high-achieving students, I set my sights on an <strong>elite college.</strong> </h3>
			<p><em>I went to Georgetown University, where I built an appreciation for values-based education that cares for the whole person. All the while, I struggled with the amount of wealth, privilege, and homogeneity that dominated the school.</em></p>
		</div>
		<div class="container-text">
			<h3>Now in a Master's in Learning Design and Technology, I design programs that <strong>expand access</strong> to higher education.</h3>
			<p><em>Meanwhile, I work at the Office of Advancement, which raises funds for scholarships.</em></p>
		</div>
		<span class="container-img car-barn"></span>
	</div>
</section>

<!--Project Areas Section-->
<section>
	<div class="container-home my-beliefs-container">
		<div class="container-title light-blue">
			<h2>My Beliefs</h2>
			<p><em>Three projects that show what I stand for</em></p>
		</div>
			<a href="/projects/community-university-model">
				<div class="container-img project-1 smaller">
					this is the link
				</div>
			</a>
			<div class="container-text">
				<h3>A transformative vision</h3>
				<p>I believe that education is a public good for all. Instead of forcing people to sit in on monotonous lectures while taking on thousands in debt, schools should equip people with what they need to live fulfilling lives.</p>
			</div>
			<a href="/projects/learning-employment-records">
				<div class="container-img project-2 smaller">
					this is the link
				</div>
			</a>
			<div class="container-text">
				<h3>Harnessing technology thoughtfully</h3>
				<p>Rather than blindly adopting the next shiny tool, education must proactively seek the technology that help it better meet its students' and community's needs.</p>
			</div>
			<a href="/projects/the-tennis-journey">
				<div class="container-img project-3 smaller">
					this is the link
				</div>
			</a>
			<div class="container-text">
				<h3>Human-centered, health-conscious</h3>
				<p>Education is more than just teaching skills to future employees. It's about creating a civic society, teaching morals and healthy habits, and addressing global and local issues.</p>
			</div>
		</div>
	</div>
</section>
	<Footer />

	<script>
		import { initScrollMenu } from '../scripts/scroll-menu.js';
		initScrollMenu();
	</script>

	<script src="../scripts/viewport-animations.js"></script>
</body>
</html>
