---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "../styles/global.css";
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Michael Pasimio Portfolio</title>

</head>

<body>		
	<Header />

	<div class = "hero">
		<div class="hero-textbox">
			<h3>Hi, I'm Michael.</h3>
			<p>As a Learning Designer, Innovator, and Educator, I care about building an education system that serves all.</p>
		</div>
	</div>

	
	<!--Hero Section-->
	<!--<div class="two-column">
			<div class="column-img">
				<img src="../assets/bike.png" alt="Michael Pasimio"/>
			</div>
			<div class="column-text">
					<h1>Michael Pasimio</h1>
					<p>Learning Designer, Innovator, Educator, Coach</p>
			</div>
		</div>
	 -->
		
<!--Old Parallax Section 
	<div class = "parallax">
		<div class ="sheer-top">
			<p>Championing mindfulness, liberal arts education, and financial sovereignty for all.</p>
		</div>

		<div class ="about">
			<h2>About Me</h2>
			<p>Born and raised in Las Vegas, Nevada, I'm a strong believer in education and public institutions.
			I believe in creating effective, responsive institutions that meet the needs of all. I've worked on 
			various equity projects in higher ed, and I've experience in a wide variety of organizational contexts. 
			I've got skills in technology, teaching, strategic planning, data analysis and more.
			</p>
		</div>

		<div class ="sheer-bottom"></div>
	</div>
-->

<!-- ABOUT ME SECTION -->
<section>
	<div class = "container-home">
		<div class="container-title">
			<h2>About Me</h2>
			<p><em>My Educational Journey</em></p>
		</div>
		<span class="container-text">
			<p>Born and raised in Las Vegas, Nevada, I grew up in one of the <strong>lowest performing school districts</strong> in the US.</p>
		</span>
		<span class="container-img"></span>
		<span class="container-img"></span>
		<span class="container-text">
			<p>Like many high-achieving students, I set my sights on an <strong>elite college.</strong> </p>
		</span>
		<span class="container-text">
			<p>Now in a Master's in Learning Design and Technology, my focus is on designing programs that <strong>expand access</strong> to higher education.</p>
		</span>
		<span class="container-img"></span>
	</div>
</section>

<!--Project Areas Section-->
<section>
	<div class="section-title"><h2>My Philosophy</h2></div>
		<div class="three-column">
			<div class="column-project">
				<h3>A transformative vision</h3>
				<p>Using systems thinking and technological analysis to understand the forces reshaping higher education.</p>
			</div>
			<div class="column-project">
				<h3>Harnessing technology thoughtfully</h3>
				<p>Developing educational strategies to meet the needs of a diverse population and address complex issues.</p>
			</div>
			<div class="column-project">
				<h3>Human-centered and health-conscious</h3>
				<p>Applying learning design to improve sports education and health education for children and adults.</p>
			</div>
			
	</div>
</section>
	<Footer />

	<script>
		import { initScrollMenu } from '../scripts/scroll-menu.js';
		initScrollMenu();
	</script>

</body>
</html>
