---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "../styles/global.css";
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Michael Pasimio Portfolio</title>

</head>

<body>		
	<Header />
	<div class="two-column">
			<div class="column-home">
				<img src="../profile-no-bg.png" alt="Michael Pasimio"/>
			</div>
			<div class="column-home">
					<h1>Michael Pasimio</h1>
					<p>Learning Designer, Innovator, Educator, Coach</p>
			</div>
		</div>
	<div class ="container-narrow">
	</div>

	<div class = "parallax">
		<div class ="hero">
			<h3>Championing mindfulness, liberal arts education, and financial sovereignty for all.</h3>
		</div>

		<div class ="hero">
			<h2>About Me</h2>
			<p>Short 50-word bio</p>
		</div>
	</div>
	
	<div class ="container-narrow">
	</div>

	<!--Project Areas Section-->

	<div class="container">
		<section class = "section-title">
			<h2>Project Areas</h2>
		</section>
		<section class="three-column">
			<div class="column-project">
				<h3>Systems & Tech</h3>
				<p>Using systems thinking and historical analysis to understand the technologies reshaping higher education.</p>
			</div>
			<div class="column-project">
				<h3>Social Vision</h3>
				<p>Identifying new strategies for higher education to meet the needs of a diverse population facing complex global issues.</p>
			</div>
			<div class="column-project">
				<h3>Sports & Health</h3>
				<p>Applying learning design to improve sports education and health education for children and adults.</p>
			</div>
	</div>	
	<Footer />
</body>
</html>
