---
import Header from "../components/Header.astro"
import Logo from "../components/Logo.astro"
import "../styles/global.css";
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Michael Pasimio Portfolio</title>

<style>
	nav{
		box-shadow: none;
		padding: 0;
		margin: 0;
	}
	
	.nav-container {
	margin-top: 30%;
  	}

	.nav-item {
    position: relative;
    padding: 1rem 2rem 0.5rem 2rem;
    background: var(--background-dark);
    color: var(--button-text);
    text-decoration: none;
    border-radius: 10px 10px 0px 0px;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
	}

</style>
</head>

<body>		
	<Logo />
	<div class="two-column">
			<div class="column-home">
				<img src="../profile-no-bg.png" alt="Michael Pasimio"/>
			</div>
			<div class="column-home">
					<h1>Michael Pasimio</h1>
					<p>Learning Designer, Innovator, Educator, Coach</p>
				<nav class="nav-container">
					<a class="nav-item" href="/projects/">Projects</a>
					<a class="nav-item" href="/skills/">Skills</a>
					<a class="nav-item" href="/about/">About me</a>
			</div>
		</div>
	
	<section class ="hero">
		<p>Championing mindfulness, liberal arts education, and economic sovereignty for all.</p>
	</section>
	
	<div class="container">
		<section class = "section-title">
			<h2>Project Areas</h2>
		</section>
		<section class="three-column">
			<div class="column-project">
				<h3>Systems & Tech</h3>
				<p>Using systems thinking to break down the technologies reshaping higher education.</p>
			</div>
			<div class="column-project">
				<h3>Social Vision</h3>
				<p>Identifying new strategies for higher education to meet the needs of a diverse population facing complex global issues.</p>
			</div>
			<div class="column-project">
				<h3>Sports & Health</h3>
				<p>Applying learning design to improve sports education and health education for children and adults.</p>
			</div>
	</div>	
</body>
</html>
