---
import Header from "../components/Header.astro"
import "../styles/global.css";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Skills</title>
	</head>
	<body>
        <Header />
		<embed src="pasimio.pdf" type="application/pdf" height="650px" width="100%">
		<section>
			<h1>Skills</h1>
			<p>I'm not quite sure what will go into services, but initially I was thinking it might be something like a fiver link or ad for my tennis coaching. I can use this website for multiple sources of income, and this client facing website can be both for employers and for clients.</p>
			<p class="btn">Hire me</p>
		</section>
	</body>
	
</html>
