---
import Header from "../components/Header.astro"
import "../styles/global.css";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Projects</title>
	</head>
	<body>
        <Header />
		<section>
			<h1>Projects</h1>
			<p>This will be a list of my projects, with a short summary and image for each of them.</p>
		</section>
	</body>
</html>
