---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "../styles/global.css";
import "../styles/old-css.css";
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Scraps</title>

</head>

<body>
<Header />
<div>
    <h1>This is H1</h1>
	<h2>This is H2</h2>
	<h3>This is H3</h3>
	<h4>This is H4</h4>
    <p>This is p.</p>
	<em>This is em.</em>
	<strong>This is strong.</strong>
	<a href="/scraps/">This is a link.</a>
</div>

<section>
    this is what a section looks like
</section>

<div class="container-home">
    This is what the container home looks like
</div>

<section>
    <div class ="container-home">
        This is what a section with container home looks like
    </div>
</section>

<section>
		<div class = "focus">
			<div class="container-title">
				<h2>My Focus</h2>
				<p><em>Redefining higher education</em></p>
			</div>
			<div class="container-text">
				<p>At its core, higher education is a meeting between human lives and public institutions. </p>
				<p>Too often, this eventful meeting is reduced to a transaction. A student invests time and money; the institution provides training and a degree. Return on investment becomes the end all, be all. </p>
				<p>I believe that higher education can be something more: a public process. Universities could serve as focal points for civic participation, economic vitality, and human flourishing. </p>
				<p>	Students, guided by community organizations and businesses, could learn not just job skills but also how to understand and solve local problems. </p>
				<p>Too many universities have drifted from the communities around them, getting lost in rankings, amenities, and ROI. My goal is to put the community back in the center, working at a university that knows its neighbors, engages with their struggles, and keeps its doors open to all.</p>
					<div class="container-link">
						<a href="/projects/community-university-model">Read more >> </a>
					</div>
				</div>
			</div>
		</div>
		
	</section>

	<div class = "about">
		<div class="about-textbox">
			<h3>Hi, I'm Michael.</h3>
			<p>Learning Designer, Educator, and Innovator. <br>
			I design programs that expand access to higher education.</p>
		</div>
		<div class="about-profile">
			<img src="../../profile-podium-small.jpg" alt="Profile Picture" class="profile-pic">
		</div>
	</div>

	<!-- ABOUT ME SECTION -->
<div class="parallax">
	<div class="container-title">
			<h2>About Me</h2>
			<p><em>My Educational Journey</em></p>
	</div>
	
	<div class = "container-home">
		<div class="container-text">
			<h3>Born and raised in Las Vegas, Nevada, I grew up in one of the <strong>lowest performing school districts</strong> in the US.</h3>
			<!--  
			<p><em>I saw firsthand how the education system sorts students into separate tracks based on their backgrounds and early achievements.</em></p>
			-->
		</div>
	</div>
	
	<div class = "container-home">
		<div class="container-text">
			<h3>Like many high-achieving students, I set my sights on an <strong>elite college.</strong> </h3>
		</div>
	</div>

	<div class = "container-home">
		<div class="container-text">
			<h3>Now in a Master's in Learning Design and Technology, I design programs that <strong>expand access</strong> to higher education.</h3>
		</div>
	</div>

</div>
	
</div>

	<div class = "container-home about-me-container">
		<div class="container-text">
			<h3>Born and raised in Las Vegas, Nevada, I grew up in one of the <strong>lowest performing school districts</strong> in the US.</h3>
			<!--  
			<p><em>I saw firsthand how the education system sorts students into separate tracks based on their backgrounds and early achievements.</em></p>
			-->
		</div>
		<!-- 
		<span class="container-img clark"></span> 
		-->
		<!-- 
		<span class="container-img healy"></span>
		-->
			
		<div class="container-text">
			<h3>Like many high-achieving students, I set my sights on an <strong>elite college.</strong> </h3>
			<!--  
			<p><em>I went to Georgetown University, where I built an appreciation for values-based education that cares for the whole person. All the while, I struggled with the amount of wealth, privilege, and homogeneity that dominated the school.</em></p>
			-->
			
		</div>
		<div class="container-text">
			<h3>Now in a Master's in Learning Design and Technology, I design programs that <strong>expand access</strong> to higher education.</h3>
			<!--  
			<p><em>Meanwhile, I work at the Office of Advancement, which raises funds for scholarships.</em></p>
			-->
			
		</div>
		<!-- 
		<span class="container-img car-barn"></span>
	 	-->
	</div>


<div class ="container-home">
<div class="container-title light-blue">
			<h2>My Beliefs</h2>
			<p><em>Three projects that show what I stand for</em></p>
		</div>
			<a href="/projects/community-university-model">
				<div class="container-img project-1 smaller">
					this is the link
				</div>
			</a>
			<div class="container-text">
				<h2>A transformative vision</h2>
				<p>I believe that education is a public good for all. Instead of forcing people to sit in on monotonous lectures while taking on thousands in debt, schools should equip people with what they need to live fulfilling lives.</p>
			</div>
			<a href="/projects/learning-employment-records">
				<div class="container-img project-2 smaller">
					this is the link
				</div>
			</a>
			<div class="container-text">
				<h2>Harnessing technology thoughtfully</h2>
				<p>Rather than blindly adopting the next shiny tool, education must proactively seek the technology that help it better meet its students' and community's needs.</p>
			</div>
			<a href="/projects/the-tennis-journey">
				<div class="container-img project-3 smaller">
					this is the link
				</div>
			</a>
			<div class="container-text">
				<h2>Human-centered, health-conscious</h2>
				<p>Education is more than just teaching skills to future employees. It's about creating a civic society, teaching morals and healthy habits, and addressing global and local issues.</p>
			</div>
        </div>
<!--Project Areas Section-->
<section>
	<div class="container-home">
		<div class="container-title light-blue">
			<h2>My Work</h2>
			<p><em>Three projects that show what I stand for</em></p>
		</div>
			
			<div class="container-text">
				<h2>A transformative vision</h2>
			</div>
			<div class="container-img">
				<p>I believe that education is a public good for all. Instead of forcing people to sit in on monotonous lectures while taking on thousands in debt, schools should equip people with what they need to live fulfilling lives.</p>	
			</div>
				
			<div class="container-text">
				<h2>Harnessing technology thoughtfully</h2>
			</div>

			<div class="container-img">
				<p>Rather than blindly adopting the next shiny tool, education must proactively seek the technology that help it better meet its students' and community's needs.</p>
			</div>

			<div class="container-text">
				<h2>Student Success</h2>
			</div>

			<div class="container-img">
				<p>Supporting all types of students with numerous visions of success.</p>
			</div>
	</div>
</section>

<section class="mission">
	<h3>My Mission: Redefine Education</h3>

	<p>At its core, education is a meeting between human lives and public institutions.
	<br><br>
	This meeting is more than just a transaction; it's a lifelong experience with farreaching impacts.
	<br><br>
	My goal is to bring human relationships and community-building back to the core of the educational mission, designing educational systems that prioritize the health and success of not just individuals—but of entire communities.
	</p>
</section>

<div class = "hero">
		<div class="hero-textbox">
			<h3>Hi, I'm <br><strong>Michael</strong></h3>
			<p>I believe education is the cornerstone of a healthy, democratic society.</p>
			<div class="orange-line"></div>
			<p><strong>Michael Vincent Pasimio</strong></p>
			<em>Learning Designer, Educator, Innovator. <br>
			Based in Washington, DC</em>
		</div>
		
	</div>

<Footer />
<script>
    console.log("Test page script running");
    document.body.style.padding="50px";
</script>

</body>


</html>