---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "../styles/global.css";
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Test Page</title>

</head>

<body>
<Header />
<div>
    <h1>Test Page div in H1</h1>
    <p>This is a test page in p.</p>
</div>

<section>
    this is what a section looks like
</section>

<div class="container-home">
    This is what the container home looks like
</div>

<section>
    <div class ="container-home">
        This is what a section with container home looks like
    </div>
</section>

<div class ="container-home">
<div class="container-title light-blue">
			<h2>My Beliefs</h2>
			<p><em>Three projects that show what I stand for</em></p>
		</div>
			<a href="/projects/community-university-model">
				<div class="container-img project-1 smaller">
					this is the link
				</div>
			</a>
			<div class="container-text">
				<h2>A transformative vision</h2>
				<p>I believe that education is a public good for all. Instead of forcing people to sit in on monotonous lectures while taking on thousands in debt, schools should equip people with what they need to live fulfilling lives.</p>
			</div>
			<a href="/projects/learning-employment-records">
				<div class="container-img project-2 smaller">
					this is the link
				</div>
			</a>
			<div class="container-text">
				<h2>Harnessing technology thoughtfully</h2>
				<p>Rather than blindly adopting the next shiny tool, education must proactively seek the technology that help it better meet its students' and community's needs.</p>
			</div>
			<a href="/projects/the-tennis-journey">
				<div class="container-img project-3 smaller">
					this is the link
				</div>
			</a>
			<div class="container-text">
				<h2>Human-centered, health-conscious</h2>
				<p>Education is more than just teaching skills to future employees. It's about creating a civic society, teaching morals and healthy habits, and addressing global and local issues.</p>
			</div>
        </div>
<Footer />
<script>
    console.log("Test page script running");
    document.body.style.padding="50px";
</script>

</body>


</html>