<header>
    <nav class="nav-container">
			<a class="nav-item" href="/projects/">Projects</a>
			<a class="nav-item" href="/skills/">Skills</a>
			<a class="nav-item" href="/about/">About me</a>
		</nav>
</header>