<header>
    <span class="header-title"><a href="/">mvp+</a></span>
	<nav class="nav-container scrollShift">
		<a class="nav-item" href="/">Home</a>
		<a class="nav-item" href="/projects/">Projects</a>
		<a class="nav-item" href="/about/">About</a>
		<a class="nav-item" href="../../Pasimio-Michael-Resume-Spring-2026.pdf" target ="_blank">Resume</a>
	</nav>
</header>