<header>
    <nav class="nav-container scrollShift">
		<a class="nav-item" href="/">Home</a>
		<a class="nav-item" href="/projects/">Projects</a>
		<a class="nav-item" href="/contact/">Contact</a>
		<a class="nav-item" href="../../Pasimio-Michael-Resume.pdf" target ="_blank">Resume</a>
	</nav>
</header>