---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import { projects } from '../../data/projects.js';
import '../../styles/global.css';

const slug = Astro.params.slug || Astro.url.pathname.split('/').filter(Boolean).pop();
const project = projects.find(p => p.slug === 'the-tennis-journey');

if (!project) {
  return Astro.redirect('/projects');
}
---

<ProjectLayout {project}>
  <div style = "grid-column: span 3;">
    
  </div>
</ProjectLayout>